.cover {
	background-image: url("/blossom-background.png");
	height: 486px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	background-color: white;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	max-height: 100vh;
	margin: 25px;
}

.coverTitleGroup {
	margin-bottom: 100px;
	margin-left: 100px;
}

.visualInterest {
	background-color: #ecff3d;
	opacity: 0.8;
	background: repeating-linear-gradient(
		-45deg,
		#f8ffbb,
		#f8ffbb 25px,
		#ecff3d 25px,
		#ecff3d 30px,
		#f8ffbb 30px,
		#f8ffbb 35px,
		#ecff3d 35px,
		#ecff3d 60px
	);
}
